<!---->
{% load static %}

<link rel="stylesheet" href="{% static 'accounts/css/navbar.css' %}">

<!--{% block navbar %}-->
<div class="header">

  <nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="#">
      <img src="{% static 'accounts/images/justlogo.png' %}" class="logo d-inline-block align-top" alt="">
      <span class="textlogo"> <span class="textlogofirst">JUST</span> <br> <span class="textlogosecond">Vehicle Management System</span></span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'homePage' %}"><span class="navicon">Home</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'noticePage' %}"><span class="navicon">Notice</span></a>
        </li>

        

        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'Home' %}"><span class="navicon">{{ request.user.username }}</span></a>
        </li> 
        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}"><span class="navicon">Logout</span></a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'login' %}"><span class="navicon">Login</span></a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{% url 'register' %}"><span class="navicon">Register</span></a>
        </li>
        {% endif %}

        </ul>
    </div>
  </nav>
</div>

<!--{% endblock %}-->