<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/95f402962e.js" crossorigin="anonymous"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'vmsadmin/css/adminadddriver.css'%}">
    <title>Document</title>
</head>

<body>

    <div>
        {% include 'vmsAdmin/adminnavbar.html' %}
    </div>
    <section id="Manage_vehicle_section">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h2 class="title"><a href="{% url 'adminAddDriver' %}"><i class="fa fa-user mx-3" aria-hidden="true"></i>Add Driver</a></h2>
                    <hr>
                </div>
            </div>
 
            <form action="{% url 'adminAddDriver'%}" method="POST">
                 {% csrf_token %}

                    {{ form.as_p }}

                <input class="submit-form" type="submit" name="submit" value="Add Driver">

            </form>

        </div>
    </section>
</body>

</html>